html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #ada8a8;
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    justify-content: center;
    max-height: 150px;
    min-height: 75px;
    border-bottom: 2px solid black;
}

footer {
    justify-content: flex-end;
    max-height: 100px;
    min-height: 50px;
    border-top: 2px solid black;
}
.content {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gameboard {
    background-color: #ada8a8;
    border: 2px solid black;
    border-radius: 50%;
    margin: 50px 25px;
    height: 65vh;
    width: 65vh;
    /* min-height: 300px; */
    min-width: 65vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.left {
    height: 100%;
    width: 17vh;
    margin-left: 5px;
}

.right {
    height: 100%;
    width: 17vh;
    text-align: center;
    margin-right: 5px;
}

#red {
    background-color: #ff000075;
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 0 100%;
    margin: 5px  5px 15px 15px;
    border: 2px solid black;
}

#yellow {
    background-color: #ffff0075;
    grid-row: 1;
    grid-column: 1;
    border-radius: 100% 0 0 0;
    margin: 15px 5px 5px 15px;
    border: 2px solid black;
}

#blue {
    background-color: #0000ff75;
    grid-row: 1;
    grid-column: 2;
    border-radius: 0 100% 0 0;
    margin: 15px 15px 5px 5px;
    border: 2px solid black;
}

#green {
    background-color: #00ff0075;
    grid-row: 2;
    grid-column: 2;
    border-radius: 0 0 100% 0;
    margin: 5px 15px 15px 5px;
    border: 2px solid black;
}

.gamecenter {  
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    height: 20vh;
    width: 20vh;
    /* min-height: 92px; */
    min-width: 20vh;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-circle {
    background-color: #ada8a8;
    border: 2px solid black;
    height: 20vh;
    width: 20vh;
    /* min-height: 92px; */
    min-width: 20vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: #f5f5f5;
    border: 2px solid black;
    height: 17vh;
    width: 17vh;
    /* min-height: 78px; */
    min-width: 17vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


h3 {
    margin: 10px;
}

@media (max-width: 550px){
    .gameboard {
        max-height: 275px;
        max-width: 275px;
        min-height: 275px;
        min-width: 275px;
    }
    .gamecenter {
        max-height: 85px;
        max-width: 85px;
        min-height: 85px;
        min-width: 85px;
    }
    .center-circle {
        max-height: 85px;
        max-width: 85px;
        min-height: 85px;
        min-width: 85px;
    }
    .start {
        max-height: 72px;
        max-width: 72px;
        min-height: 72px;
        min-width: 72px;
    }
}

@media (max-height: 550px){
    .gameboard {
        max-height: 275px;
        max-width: 275px;
        min-height: 275px;
        min-width: 275px;
    }
    .gamecenter {
        max-height: 85px;
        max-width: 85px;
        min-height: 85px;
        min-width: 85px;
    }
    .center-circle {
        max-height: 85px;
        max-width: 85px;
        min-height: 85px;
        min-width: 85px;
    }
    .start {
        max-height: 72px;
        max-width: 72px;
        min-height: 72px;
        min-width: 72px;
    }
}

.btnPressed {
    box-shadow: inset 0px 0px 14px 6px rgba(0,0,0,0.72);
}