html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    background-color: #ada8a8;
    width: 100%;
    display: flex;
    align-items: center;
}

header {
    justify-content: center;
    max-height: 150px;
    min-height: 75px;
    border-bottom: 2px solid black;
}

footer {
    justify-content: flex-end;
    max-height: 100px;
    min-height: 50px;
    border-top: 2px solid black;
}
.content {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    background-color: #ada8a8;
    border: 2px solid black;
    border-radius: 50%;
    margin: 50px 25px;
    height: 65vh;
    width: 65vh;
    min-width: 65vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

#red {
    background-color: red;
    grid-row: 2;
    grid-column: 1;
    border-radius: 0 0 0 100%;
    margin: 5px  5px 15px 15px;
    border: 2px solid black;
}

#yellow {
    background-color: yellow;
    grid-row: 1;
    grid-column: 1;
    border-radius: 100% 0 0 0;
    margin: 15px 5px 5px 15px;
    border: 2px solid black;
}

#blue {
    background-color: blue;
    grid-row: 1;
    grid-column: 2;
    border-radius: 0 100% 0 0;
    margin: 15px 15px 5px 5px;
    border: 2px solid black;
}

#green {
    background-color: green;
    grid-row: 2;
    grid-column: 2;
    border-radius: 0 0 100% 0;
    margin: 5px 15px 15px 5px;
    border: 2px solid black;
}

.gamecenter {  
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-circle {
    background-color: #ada8a8;
    border: 2px solid black;
    height: 20vh;
    width: 20vh;
    min-width: 20vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start {
    background-color: #f5f5f5;
    border: 2px solid black;
    height: 15vh;
    width: 15vh;
    min-width: 15vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


h3 {
    margin: 10px;
}